celery
cron-descriptor
dj-database-url
Django
django-celery-beat
django-cors-headers
django-environ
django-phonenumber-field
django-rest-framework
django-templated-mail
django-timezone-field
djangorestframework
djangorestframework-simplejwt
djoser
emoji
emoji-data-python
frozenlist
google-api-core
google-auth
google-auth-oauthlib
google-cloud
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
gunicorn
oauthlib
phonenumbers
phonenumberslite
Pillow
prompt-toolkit
PyJWT
python-crontab
python-dateutil
python3-openid
pytz
redis
requests
slackclient
social-auth-app-django
social-auth-core
psycopg2-binary
